.DS_Store
.idea
*.log
tmp/
dist/
dist-newstyle/
TAGS
tags
.*.swp
.*.swo
*.o
*.hi
*~
*#
cabal.project.local
.cabal-sandbox/
cabal.sandbox.config
.stack-work/
codex.tags
.ghc.environment.*
result
.direnv
.envrc
*.json